/* CSS */
@keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Apply the animation to your image */
  .rotating-image {
    animation-name: rotate360;
    animation-duration: 30s; /* Change the duration to adjust the speed */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .banner-image {
    max-width: 100%;
    width: 100%;
    height: 100%;
    background-image: url('/assets/banner_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(30%); /* Adjust the values to your preference */
  }

  .bg-banner-image {
    background-image: url('/assets/banner_bg.jpg');
  }
  
  .brightness-30 {
    filter: brightness(30%);
  }
  