@font-face {
  font-family: "Agrandir";
  src: url("./agrandir/Agrandir-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Agrandir";
  src: url("./agrandir/Agrandir-TextBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Agrandir";
  src: url("./agrandir/Agrandir-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Agrandir GrandHeavy";
  src: url("./agrandir/Agrandir-GrandHeavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Agrandir WideBlack";
  src: url("./agrandir/Agrandir-WideBlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
